<form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="email"  id="email" name="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name=password id="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>